$blk: #1a0606;
$none: rgba(#fff,0);
$key: #BFA88F;
$white: lighten($key,20);
$body: #4B4640;
$kk: rgba($key,.5);

$tile: 3rem;
$grid: 12;
$dark-beige: darken( #8b8740, 5);
$medium-beige: #8b8740;
$light-beige: #bdbc7a;

$drk: #1b1a0e;
$dirt: rgba($drk,.2);

$shadow: 30%;

$ceiling1: #685B23;
$ceiling2: #807734;

$sbg: #D8D9EF;
$sbtn: #cdcdb8;

$background: #6F6D39;
$distance: #333;
$red: #891912;
$orange: #ff6a00;
$yellow: yellow;

$wood-color: mix($ceiling1,$red);

$bars: #1b1a0e;

$time: .8s;
$turn: cubic-bezier(0, 0.3, 0.6, 1.4);
$ease: ease-out;

html {
    background: $background;
    height: 100%;
    --background: #6F6D39;
    --dark-beige: darken( #8b8740, 5);
    --darker-beige: darken( #8b8740, 7);
    --medium-beige: #8b8740;
    --light-beige: #bdbc7a;
    --lightish-beige: darken(#bdbc7a,10);
    --db: #86823e;
    --ceiling: #685B23;
}

html:has(#level-2:checked) {
    background: #6f3939;
    --background: #6f3939;
    --dark-beige: darken( #8b4040, 5);
    --darker-beige: darken( #8b4040, 7);
    --medium-beige: #8b4040;
    --light-beige: #bd7a7a;
    --lightish-beige: darken(#bd7a7a,10);
    --db: #8b4444;
    --ceiling: #682323;
}

input {
    z-index: 1;
    display: none;
    position: relative;
    margin-top: 1rem;
}

body {
    margin: 0;
    text-align: center;
    color: $none;
    font-family: Courier New, Courier, monospace;

    &, & > div, & > div > div {
        width: 100%;
        height: 100%;
        height: 100dvh;
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
    }

    content, content *, content *:before, content *:after {
        box-sizing: border-box;
        position: absolute;
        content: '';
        left: 0;
        top: 0;
        transform-style: preserve-3d;
        backface-visibility: hidden;
    }
}

content, tile, other {
    width: $tile;
    height: $tile;
}

content {
    margin: auto;
    position: absolute;
    perspective: 50.5rem;
    display: block;
    inset: 0;
}

w, x, y, z, v {
    width: 100%;
    height: 100%;
}

w, x, y, z, v, div, body, html {
    pointer-events: none;
}

w {
    transform: translate3d(0, -.1rem, 50rem) rotateY(0deg) rotate(2deg);
}

// defaults

label, input, a, gfx {
    pointer-events: auto;
}

.d-none {
    display: none !important;
}

%d-block {
    display: block;
}

%d-none {
    display: none;
}

%d-block-i {
    display: block !important;
}

%d-none-i {
    display: none !important;
}

%flex-end {
    align-content: flex-end;
}